In [1]:
import numpy as np
import pandas as pd

In [14]:
def adding_market_index(df = pd.read_csv('../data/stock_market_data/stockdf.csv')):
    
    ## Make sure that date is datetime so that easily mergable and that date is index
    df['Date'] = pd.to_datetime(df['Date'])
    df.set_index('Date')
    
    ## Reading in the market_index and making sure that date is datetime so that easily mergable and that date is index
    hist_data = pd.read_csv('../data/shared_data/HistoricalData_1667914714805.csv')
    hist_data['Date'] = pd.to_datetime(hist_data['Date'])
    hist_data.set_index('Date')

    ## Join df with hist_data on Date
    x = df.join(hist_data.set_index('Date')['Close/Last'], on='Date', how='left', lsuffix='_caller', rsuffix='_other').rename(columns={'Close/Last': 'COMP'})
    
    ## formating column and naming stock COMP
    return x




x = adding_market_index()
x

,Date,A,AAC,AAL,AAP,AAPL,AAT,ABBV,ABC,ABM,...,XPO,XYL,YUM,ZBH,ZDPY,ZION,ZNH,ZOES,ZTS,COMP
0,2010-01-04,22.389128,NaN,4.7700,40.380001,7.643214,NaN,NaN,26.629999,21.260000,...,2.980210,NaN,25.226456,58.271847,NaN,13.330000,15.980000,NaN,NaN,NaN
1,2010-01-05,22.145924,NaN,5.3100,40.139999,7.656429,NaN,NaN,26.440001,20.969999,...,2.980210,NaN,25.140186,60.116505,NaN,13.800000,16.240000,NaN,NaN,NaN
2,2010-01-06,22.067240,NaN,5.0900,40.490002,7.534643,NaN,NaN,26.190001,20.969999,...,2.910361,NaN,24.960461,60.097088,NaN,15.000000,16.400000,NaN,NaN,NaN
3,2010-01-07,22.038628,NaN,5.2400,40.480000,7.520714,NaN,NaN,25.770000,21.240000,...,2.887078,NaN,24.953272,61.475727,NaN,16.680000,16.309999,NaN,NaN,NaN
4,2010-01-08,22.031473,NaN,5.1400,40.639999,7.570714,NaN,NaN,26.049999,21.219999,...,2.980210,NaN,24.960461,60.184467,NaN,16.410000,16.280001,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3221,2022-10-19,128.960007,9.950,13.9900,171.250000,143.860001,25.620001,143.130005,142.990005,41.500000,...,45.250000,92.900002,110.449997,108.120003,0.659,49.220001,26.570000,NaN,148.130005,10680.51
3222,2022-10-20,125.940002,9.945,13.4600,170.279999,143.389999,25.830000,142.929993,142.770004,40.959999,...,44.889999,91.040001,109.660004,106.330002,0.700,47.130001,27.530001,NaN,144.429993,10614.84
3223,2022-10-21,129.880005,9.960,13.7100,171.339996,147.270004,26.250000,147.059998,147.729996,41.820000,...,45.750000,93.860001,111.029999,107.389999,0.710,47.820000,28.559999,NaN,147.210007,10859.72
3224,2022-10-24,132.375000,9.960,13.9325,174.917503,148.455002,26.430000,150.990005,150.000000,42.400002,...,47.044998,95.660004,108.680000,108.419998,0.695,49.520000,26.063900,NaN,150.005005,10952.61
3225,2022-10-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10970.99